<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="story">
            <h2><span>Story</span> {{ story.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Story Name</span></dt>
                <dd>
                    <span>{{ story.storyName }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ story.createdBy }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ story.description }}</span>
                </dd>
                <dt><span>Sprints</span></dt>
                <dd>
                    <div *ngIf="story.sprints">
                        <a [routerLink]="['/sprint', story.sprints?.id, 'view']">{{ story.sprints?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/story', story.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
