<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="defect">
            <h2><span>Defect</span> {{ defect.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Defect Name</span></dt>
                <dd>
                    <span>{{ defect.defectName }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ defect.description }}</span>
                </dd>
                <dt><span>Story</span></dt>
                <dd>
                    <div *ngIf="defect.story">
                        <a [routerLink]="['/story', defect.story?.id, 'view']">{{ defect.story?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/defect', defect.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
